<div class="container">
    <!-- Social Media Links Row -->
    <div class="row pb-5">

        <!-- LinkedIn -->
        <div class="col-3 col-lg-2 d-flex justify-content-center">
            <a class="mt-social-link" href="https://www.linkedin.com/in/MitchTalmadge" target="_blank">
                <img src="./static/images/LinkedIn.svg" alt="Linked In"/>
            </a>
        </div>

        <!-- Twitter -->
        <div class="col-3 col-lg-2 d-flex justify-content-center">
            <a class="mt-social-link" href="https://twitter.com/MitchTalmadge" target="_blank">
                <img src="./static/images/Twitter.svg" alt="Twitter"/>
            </a>
        </div>

        <!-- Github -->
        <div class="col-3 col-lg-2 d-flex justify-content-center">
            <a class="mt-social-link" href="https://github.com/MitchTalmadge" target="_blank">
                <img src="./static/images/Github.svg" alt="Git Hub"/>
            </a>
        </div>

        <!-- Stack Overflow -->
        <div class="col-3 col-lg-2 d-flex justify-content-center">
            <a class="mt-social-link" href="http://stackoverflow.com/users/2364405/mitch-talmadge" target="_blank">
                <img src="./static/images/StackOverflow.svg" alt="Stack Overflow"/>
            </a>
        </div>

    </div>

    <!-- Contact Form and Resume Row -->
    <div class="row pb-3">

        <!-- Contact Form -->
        <div class="col-12 col-lg-8">
            <mt-contact-form>
            </mt-contact-form>
        </div>

        <!-- Resume -->
        <div class="col-12 col-lg-4">
            <mt-glass-panel>
                <mt-glass-panel-header>
                    <h2 class="text-center">Résumé</h2>
                    <p class="text-center mb-0">Contact me for a copy.</p>
                </mt-glass-panel-header>
                <mt-glass-panel-body>
                    <img src="./static/images/resume_blurred.jpg" alt="Blurred out Résumé" style="width: 100%"/>
                </mt-glass-panel-body>
            </mt-glass-panel>
        </div>

    </div>
</div>