<div class="container">
    <!-- Social Media Links Row -->
    <div class="row">
        <!-- LinkedIn -->
        <div class="col-3 col-lg-2">
            <a class="mt-social-link" href="https://www.linkedin.com/in/MitchTalmadge" target="_blank">
                <img src="./static/images/LinkedIn.svg" alt="Linked In"/>
            </a>
        </div>
        <!-- Twitter -->
        <div class="col-3 col-lg-2">
            <a class="mt-social-link" href="https://twitter.com/MitchTalmadge" target="_blank">
                <img src="./static/images/Twitter.svg" alt="Twitter"/>
            </a>
        </div>
        <!-- Github -->
        <div class="col-3 col-lg-2">
            <a class="mt-social-link" href="https://github.com/MitchTalmadge" target="_blank">
                <img src="./static/images/Github.svg" alt="Git Hub"/>
            </a>
        </div>
        <!-- Stack Overflow -->
        <div class="col-3 col-lg-2">
            <a class="mt-social-link" href="http://stackoverflow.com/users/2364405/mitch-talmadge" target="_blank">
                <img src="./static/images/StackOverflow.svg" alt="Stack Overflow"/>
            </a>
        </div>
    </div>

    <!-- Contact Form and Resume Row -->
    <div class="row">
        <!-- Contact Form -->
        <div class="col-12 col-lg-8">

        </div>

        <!-- Resume -->
        <div class="col-12 col-lg-4">

        </div>
    </div>
</div>