<div id="mt-sidebar">
    <a routerLink="/">
        <img id="mt-sidebar-logo" src="../../../resources/images/logo.svg" draggable="false"/>
    </a>

    <div id="mt-sidebar-links">
        <ng-container *ngFor="let link of links">
            <a class="mt-sidebar-link"
               *ngIf="link.route"
               [routerLink]="link.route"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: link.strict }">
                {{link.name}}
            </a>
            <a class="mt-sidebar-link"
               *ngIf="!link.route && link.url"
               [href]="link.url">
                {{link.name}}
            </a>
        </ng-container>
    </div>
</div>