<mt-glass-panel>
    <mt-glass-panel-header>
        <h2 class="text-center">Email Me</h2>
        <p class="text-center mb-0">The easiest way to get in touch with me is to use the form below.</p>
        <p class="text-center mb-0">Please look in your spam folder for a reply, as my emails are often falsely marked
            as spam.</p>
    </mt-glass-panel-header>
    <mt-glass-panel-body>
        <form>
            <div class="form-row pb-2">
                <div class="col">
                    <input type="text" class="form-control form-control-lg" placeholder="Your Name">
                </div>
                <div class="col">
                    <input type="email" class="form-control form-control-lg" placeholder="Your Email Address">
                </div>
            </div>

            <div class="form-row pb-2">
                <div class="col">
                    <textarea class="form-control form-control-lg" rows="5" placeholder="Your Message"></textarea>
                </div>
            </div>

            <button class="btn btn-block btn-lg btn-outline-primary">
                Send Message!
            </button>

        </form>
    </mt-glass-panel-body>
</mt-glass-panel>