<mt-glass-panel>
    <mt-glass-panel-header>
        <h2 class="text-center mb-0">{{title}}</h2>
    </mt-glass-panel-header>
    <mt-glass-panel-body>
        <div class="carousel">
            <div class="carousel-inner">
                <div *ngFor="let image of images; let i = index"
                     class="carousel-item"
                     [class.active]="currentImageIndex == i">
                    <img [src]="image" class="d-block w-100"/>
                </div>
            </div>
            <a class="carousel-control-prev"
               *ngIf="images?.length > 1"
               (click)="previousImage()">
                <span class="fa fa-2x fa-angle-left"></span>
            </a>
            <a class="carousel-control-next"
               *ngIf="images?.length > 1"
               (click)="nextImage()">
                <span class="fa fa-2x fa-angle-right"></span>
            </a>
        </div>
    </mt-glass-panel-body>
</mt-glass-panel>