@import "~bootstrap/scss/bootstrap-grid.scss";

html {
  font-size: 19px;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.3rem;
}

#mt-app-container {
  min-height: 100vh;
  padding-left: 225px;
  padding-right: 0;

  font-family: 'Nunito', sans-serif;
  color: #666;
}

/* Make default container wider on XL screens */
@include media-breakpoint-only(xl) {
  .mt-app .container {
    max-width: 80%;
  }
}

/* Add pointer cursor to links without href, which Angular uses a lot of. (Because of the click event) */
.mt-app a:not([href]) {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 16px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: content-box;
}

/* Images */

img.mt-image-round {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  border: 8px solid #A2C4CE;
}

/* Buttons */

@import "app.component.buttons";