/* Primary */

.btn-primary {
  border-color: #85BAC7;
  background-color: #85BAC7;
}

.btn-primary:hover {
  border-color: #74A7B4;
  background-color: #74A7B4;
}

.btn-primary.disabled,
.btn-primary:disabled {
  border-color: #AAAAAA;
  background-color: #AAAAAA;
}

.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  border-color: #6794A0;
  background-color: #6794A0;
  box-shadow: 0 0 0 0.2rem rgba(133,186,191,.5);
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(133,186,191,.5);
}

/* Primary Outline */

.btn-outline-primary {
  color: #85BAC7;
  border-color: #85BAC7;
}

.btn-outline-primary:hover {
  border-color: #85BAC7;
  background-color: #85BAC7;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  border-color: #AAAAAA;
  color: #AAAAAA;
  background-color: transparent;
}

.btn-outline-primary:not([disabled]):not(.disabled).active,
.btn-outline-primary:not([disabled]):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
  border-color: #74A7B4;
  background-color: #74A7B4;
  box-shadow: 0 0 0 0.2rem rgba(133,186,191,.5);
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(133,186,191,.5);
}